.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-left: 156px;
  padding-right: 156px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.gallery-item {
  width: calc(33.33% - 24px);
}

.gallery-link {
  display: block;
}

.gallery-image {
  width: 100%;
}
